/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  body,
  html,
  * {
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  .blog-container {
    width: 94%;
    max-width: 70em;
    margin: auto;
  }
}
/*-- -------------------------- -->
  <---           Header           -->
  <--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #header {
    position: relative;
    z-index: 1;
  }
  #header .blog-container {
    padding: clamp(100px, 14vw, 200px) 0 clamp(50px, 11vw, 100px);
  }
  #header .blog-header {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    margin: 0;
    color: #fff;
  }
  #header .blog-bg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #header .blog-bg:before {
    /* color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #header .blog-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/*-- -------------------------- -->
  <---        Main Content        -->
  <--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-container {
    padding: clamp(60px, 7vw, 100px) 0;
  }
  .main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64em) {
  .main-content-wrapper {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1.25em;
  }
}
/*-- -------------------------- -->
  <---    Recent Blog Articles    -->
  <--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .recent-articles {
    width: 100%;
    max-width: 49.6875em;
    overflow: hidden;
    flex: none;
  }
  .recent-articles .blog-mainImage {
    width: 100%;
    height: clamp(200px, 30vw, 400px);
    border: 1px solid var(--secondary);
    display: block;
    position: relative;
    overflow: hidden;
  }
  .recent-articles .blog-mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .recent-articles .article-group {
    padding: clamp(30px, 5vw, 50px);
    background: #f7f7f7;
    border: 1px solid var(--secondary);
    border-top: none;
  }
  .recent-articles .blog-author-img {
    width: 2em;
    height: 2em;
    border: 1px solid var(--secondary);
    display: block;
    position: relative;
    overflow: hidden;
  }
  .recent-articles .blog-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .recent-articles .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .recent-articles .blog-author,
  .recent-articles .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
  }
  .recent-articles .blog-dot {
    width: 3px;
    height: 3px;
    background-color: var(--secondary);
    display: block;
  }
  .recent-articles .blog-h1 {
    font-size: var(--headerFontSize);
    font-weight: 700;
    line-height: 1.4em;
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
    color: var(--headerColor);
  }
  .recent-articles .blog-h1 span {
    display: block;
  }
  .recent-articles .blog-desc {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 1rem 0 2rem;
  }
  .recent-articles .blog-link {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #1a1a1a;
    border: 1px solid var(--secondary);
    background-color: var(--primary);
    font-family: var(--headerFontFamily);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  .recent-articles .blog-link:before {
    content: "";
    width: 100%;
    height: 0%;
    background: #1a1a1a;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: height 0.3s;
  }
  .recent-articles .blog-link:hover {
    color: var(--primary);
  }
  .recent-articles .blog-link:hover:before {
    height: 100%;
  }
}
/*-- -------------------------- -->
  <---        Blog Articles       -->
  <--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  .blog-article {
    width: 100%;
    max-width: 49.6875em;
    display: block;
    padding-top: 3.125em;
  }
  .blog-article .blog-mainImage {
    width: 100%;
    height: clamp(200px, 30vw, 400px);
    margin-bottom: 3.125em;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--secondary);
  }
  .blog-article .blog-mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-article .blog-author-img {
    width: 2em;
    height: 2em;
    border: 1px solid var(--secondary);
    display: block;
    position: relative;
    overflow: hidden;
  }
  .blog-article .blog-author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-article .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .blog-article .blog-author,
  .blog-article .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  .blog-article .blog-dot {
    width: 3px;
    height: 3px;
    background-color: var(--secondary);
    display: block;
  }
  .blog-article .blog-h1 {
    font-size: var(--headerFontSize);
    font-weight: 700;
    line-height: 1.4em;
    max-width: 34.375rem;
    margin: 1rem 0;
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
  }
  .blog-article #blog-content {
    margin-top: 1em;
    padding-top: 1.5625em;
    border-top: 1px solid var(--secondary);
  }
  .blog-article #blog-content h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.75em;
    margin-bottom: 1rem;
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
  }
  .blog-article #blog-content h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
  }
  .blog-article #blog-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
  }
  .blog-article #blog-content h4,
  .blog-article #blog-content h5,
  .blog-article #blog-content h6 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
  }
  .blog-article #blog-content p {
    font-size: 1rem;
    line-height: 1.6em;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content a {
    font-size: inherit;
    text-decoration: none;
    color: var(--bodyTextColor);
    border-bottom: 2px solid var(--primary);
  }
  .blog-article #blog-content ul,
  .blog-article #blog-content ol {
    margin: 0;
    margin: 1rem 0;
    padding-left: 2.5rem;
  }
  .blog-article #blog-content ul li,
  .blog-article #blog-content ol li {
    font-size: 1rem;
    line-height: 1.6em;
    list-style: circle;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 0.5rem;
    display: block;
  }
}

/*# sourceMappingURL=blog.css.map */
