/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-1388 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #contact-1388 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    column-gap: auto;
    /* 48px - 64px */
    gap: clamp(2rem, 3vw, 3rem);
    position: relative;
  }
  #contact-1388 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #contact-1388 .cs-title {
    max-width: 23ch;
  }
  #contact-1388 .cs-text {
    margin-bottom: 1rem;
  }
  #contact-1388 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #contact-1388 .cs-ul {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
  }
  #contact-1388 .cs-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;
  }
  #contact-1388 .cs-li:hover .cs-icon-wrapper {
    background-color: var(--primary);
  }
  #contact-1388 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    font-family: var(--headerFontFamily);
    text-transform: uppercase;
    display: block;
  }
  #contact-1388 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    color: var(--headerColor);
    display: block;
    position: relative;
  }
  #contact-1388 .cs-link:hover {
    text-decoration: underline;
  }
  #contact-1388 .cs-icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    margin: 0;
    border: 1px solid var(--secondary);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    transition: background-color 0.3s;
  }
  #contact-1388 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #contact-1388 .cs-form {
    width: 100%;
    max-width: 39.375rem;
    /* 24px - 48px top and bottom */
    /* 16px - 48px left and right */
    padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
    /* prevents flexbox from affecting height and width */
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid var(--secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-1388 .cs-h3 {
    /* 20px - 39px */
    font-size: clamp(1.25rem, 3vw, 2.4375rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    font-family: var(--headerFontFamily);
    text-transform: uppercase;
  }
  #contact-1388 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    color: var(--headerColor);
    font-family: var(--headerFontFamily);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-1388 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #fff;
    border: 1px solid var(--secondary);
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-1388 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-1388 .cs-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
  }
  #contact-1388 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-1388 .cs-submit {
    width: 100% !important;
    cursor: pointer;
  }
  #contact-1388 .cs-shape {
    width: clamp(31.25rem, 50vw, 50rem);
    height: clamp(24rem, 50vw, 37.5rem);
    position: absolute;
    bottom: 0;
    left: -21.875rem;
    z-index: -1;
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #contact-1388 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #contact-1388 .cs-content {
    width: 47%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #contact-1388 .cs-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.75rem;
  }
  #contact-1388 .cs-submit {
    width: auto;
  }
  #contact-1388 .cs-shape {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-1388 .cs-form {
    width: 46%;
    max-width: 36.125rem;
  }
  #contact-1388 .cs-submit {
    width: auto;
  }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
  #contact-1388 .cs-graphic {
    display: block;
  }
}

/*# sourceMappingURL=contact.css.map */
