/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-page-1398 {
    padding: var(--sectionPadding);
    background-color: #fff;
    /* clips the wave background from causing overflow issues when it goes off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #content-page-1398 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 40px - 64px */
    gap: clamp(2.5rem, 4vw, 4rem);
    position: relative;
  }
  #content-page-1398 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 46.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #content-page-1398 h2,
  #content-page-1398 h3,
  #content-page-1398 h4,
  #content-page-1398 h5,
  #content-page-1398 h6 {
    font-weight: 700;
    text-align: inherit;
    margin: 0 0 0.5rem 0;
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
  }
  #content-page-1398 h1 {
    font-size: clamp(2rem, 3.9vw, 3.0625rem);
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }
  #content-page-1398 h2 {
    font-size: 1.75rem;
    margin-top: 1rem;
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }
  #content-page-1398 h3 {
    font-size: 1.5rem;
    display: flex;
    position: relative;
  }
  #content-page-1398 h4,
  #content-page-1398 h5,
  #content-page-1398 h6 {
    font-size: 1.25rem;
  }
  #content-page-1398 .cs-button-solid {
    margin-bottom: 2rem;
  }
  #content-page-1398 .cs-no-margin {
    margin: 0;
  }
  #content-page-1398 .cs-color {
    color: var(--primary);
  }
  #content-page-1398 p {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0 0 1rem 0;
    color: var(--bodyTextColor);
  }
  #content-page-1398 p:last-of-type {
    margin-bottom: 2rem;
  }
  #content-page-1398 p a {
    font-size: inherit;
    line-height: inherit;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    color: var(--bodyTextColor);
    font-weight: 700;
  }
  #content-page-1398 ol,
  #content-page-1398 ul {
    padding-left: 1.5rem;
    margin: 0 0 2rem 0;
    color: var(--bodyTextColor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #content-page-1398 ul li {
    list-style: none;
    color: inherit;
    position: relative;
  }
  #content-page-1398 ul li:before {
    /* custom list bullet */
    content: "";
    width: 3px;
    height: 3px;
    background: currentColor;
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.75rem;
  }
  #content-page-1398 img {
    width: 100%;
    height: auto;
    display: block;
  }
  #content-page-1398 .cs-image-group {
    width: 100%;
    display: none;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.6vw, 1.25rem);
    position: relative;
  }
  #content-page-1398 .cs-flex {
    position: relative;
  }
  #content-page-1398 .cs-background {
    width: 100%;
    height: 100%;
    max-height: 33.75rem;
    /* 32px - 48px */
    border: 1px solid var(--secondary);
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #content-page-1398 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #content-page-1398 .cs-ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #content-page-1398 .cs-li {
    font-size: var(--bodyFontSize);
    list-style: none;
    line-height: 1.5em;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #content-page-1398 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #content-page-1398 .cs-shape {
    width: clamp(31.25rem, 50vw, 50rem);
    height: clamp(24rem, 50vw, 37.5rem);
    position: absolute;
    top: 25rem;
    left: -21.875rem;
    z-index: -1;
    display: none;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #content-page-1398 .cs-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  #content-page-1398 .cs-content {
    width: 50%;
    max-width: 40.4375rem;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #content-page-1398 .cs-image-group {
    width: 44%;
    max-width: 33.875rem;
    display: flex;
  }
  #content-page-1398 .cs-shape {
    display: block;
  }
}
/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #content-page-1398 .cs-content {
    width: 53%;
  }
  #content-page-1398 .cs-title span {
    display: block;
  }
  #content-page-1398 .cs-h3:before {
    /* active state underline */
    content: "";
    width: calc(100% + 0.625rem);
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    bottom: 33%;
    left: -0.3125rem;
    z-index: -1;
  }
  #content-page-1398 .cs-image-group {
    width: 43%;
  }
}

/*# sourceMappingURL=content.css.map */
