/*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #collection-1624 {
    padding: var(--sectionPadding);
  }
  #collection-1624 .cs-container {
    width: 100%;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #collection-1624 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    /* breaks up the parent div so the children are no longer bound by it.  Now the children can be children of the cs-container and allow us to arrange their order with the cs-card-group */
    display: contents;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #collection-1624 .cs-title {
    margin: 0;
  }
  #collection-1624 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 1rem 0 0;
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    order: 3;
  }
  #collection-1624 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #collection-1624 .cs-button-solid:hover:before {
    width: 100%;
  }
  #collection-1624 .cs-collection-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
    gap: 1.25rem;
  }
  #collection-1624 .cs-item-offer {
    width: 100%;
    max-height: 100%;
    height: auto;
    background-color: #e8e7e4;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #collection-1624 .cs-text-wrapper {
    /* 40px to 80px top and bottom */
    /* 24px - 40px left & right */
    padding: clamp(2.5rem, 8vw, 5rem) clamp(1.5rem, 4vw, 2.5rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #collection-1624 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
    column-gap: clamp(1rem, 3vw, 1.25rem);
    row-gap: clamp(1rem, 3vw, 1.5rem);
    grid-column: span 12;
    transform-style: preserve-3d;
  }
  #collection-1624 .cs-item {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #collection-1624 .cs-item:hover .cs-picture {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #collection-1624 .cs-item:hover .cs-picture img {
    transform: scale(1.05);
  }
  #collection-1624 .cs-offer-tag {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: #f7f7f7;
    background-color: var(--secondary);
    display: block;
  }
  #collection-1624 .cs-h3 {
    font-size: clamp(1.9375rem, 5vw, 2.4375rem);
    font-weight: 900;
    line-height: 1.2em;
    max-width: 20ch;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
  }
  #collection-1624 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    display: block;
  }
  #collection-1624 .cs-background {
    width: 100%;
    height: clamp(300px, 40vw, 600px);
    background-color: #e8e7e4;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: -2;
  }
  #collection-1624 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: opacity 0.3s, transform 0.6s;
  }
  #collection-1624 .cs-link {
    text-decoration: none;
  }
  #collection-1624 .cs-image-group {
    width: auto;
    height: 18.75rem;
    margin-bottom: 1.25rem;
    position: relative;
  }
  #collection-1624 .cs-picture {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    display: block;
    overflow: hidden;
  }
  #collection-1624 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
  }
  #collection-1624 .cs-offer {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 0.375rem;
    color: #fff;
    background: #ff4747;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }
  #collection-1624 .cs-product {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
  }
  #collection-1624 .cs-wrapper {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #collection-1624 .cs-price {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--primary);
  }
  #collection-1624 .cs-old-price {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: line-through;
    color: #767676;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #collection-1624 .cs-container {
    max-width: 80rem;
  }
  #collection-1624 .cs-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem;
    grid-column: span 12;
  }
  #collection-1624 .cs-h3 {
    margin-bottom: 0.25rem;
  }
  #collection-1624 .cs-item-text {
    margin-bottom: 2rem;
  }
  #collection-1624 .cs-button-solid {
    margin: 0;
  }
  #collection-1624 .cs-text-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    /* 16px - 20px */
    padding-left: clamp(1rem, 1.5vw, 1.25rem);
    padding-right: clamp(1rem, 1.5vw, 1.25rem);
    grid-column: span 5;
  }
  #collection-1624 .cs-card-group {
    width: auto;
    grid-column: span 7;
    grid-template-columns: repeat(12, 1fr);
    align-items: stretch;
  }
  #collection-1624 .cs-item {
    height: 100%;
    grid-column: span 6;
  }
  #collection-1624 .cs-background {
    height: 100%;
  }
  #collection-1624 .cs-image-group {
    height: auto;
    min-height: clamp(12rem, 23vw, 20rem);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #collection-1624 .cs-item-offer {
    height: auto;
    grid-column: span 3;
  }
  #collection-1624 .cs-card-group {
    grid-column: span 9;
  }
  #collection-1624 .cs-item {
    grid-column: span 4;
  }
}

/*# sourceMappingURL=local.css.map */
