/* Mobile - 360px */
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1374 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
  }
  #gallery-1374 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1374 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-1374 .cs-text {
    max-width: 52.5rem;
  }
  #gallery-1374 .cs-image-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    /* 16px - 60px */
    gap: clamp(1rem, 4.3vw, 3.75rem);
  }
  #gallery-1374 .cs-link {
    text-decoration: none;
    height: 100%;
  }
  #gallery-1374 .cs-item {
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: span 12;
    transition: transform 0.3s;
  }
  #gallery-1374 .cs-item:hover {
    transform: translate(0, -2rem);
  }
  #gallery-1374 .cs-item:hover .cs-picture {
    transform: translate(1rem 0);
  }
  #gallery-1374 .cs-item:hover .cs-h3 {
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }
  #gallery-1374 .cs-item:hover .cs-icon-wrapper {
    transform: rotate(0deg);
  }
  #gallery-1374 .cs-picture {
    width: 100%;
    /* 344px - 420px */
    height: clamp(21.5rem, 30vw, 26.25rem);
    margin: auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  #gallery-1374 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #gallery-1374 .cs-item-text {
    /* 16px - 20px top & bottom, 16px - 40px left & right */
    padding: clamp(1rem, 2vw, 1.25rem) clamp(1rem, 2.8vw, 2.5rem) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* makes the item text the element that grows to fill the container */
    flex-grow: 1;
    gap: 1rem;
    transition: background-color 0.3s;
    position: absolute;
    width: 100%;
    bottom: 0%;
    z-index: 1;
    text-decoration: none;
  }
  #gallery-1374 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #gallery-1374 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.8vw, 1.3625rem);
    line-height: 1.2em;
    text-align: left;
    margin: 0;
    color: var(--headerColor);
    text-transform: uppercase;
    font-family: var(--headerFontFamily);
    transition: color 0.3s;
    position: relative;
    text-decoration-color: var(--primary);
  }
  #gallery-1374 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.2vw, 1rem);
    line-height: 1.5em;
    color: #1a1a1a;
    transition: color 0.3s;
  }
  #gallery-1374 .cs-icon-wrapper {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents the parent flexbox from shrinking the icon */
    flex-shrink: 0;
    transition: transform 0.3s;
    transform: rotate(45deg);
  }
  #gallery-1374 .cs-icon {
    width: auto;
    height: 0.75rem;
    transition: filter 0.3s;
  }
  #gallery-1374 .cs-shape {
    width: clamp(31.25rem, 50vw, 50rem);
    height: clamp(24rem, 50vw, 37.5rem);
    position: absolute;
    z-index: -1;
  }
  #gallery-1374 .cs-shape:first-of-type {
    left: -15.625rem;
    top: 0rem;
  }
  #gallery-1374 .cs-shape:last-of-type {
    right: -15.625rem;
    bottom: -2.875rem;
  }
}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-1374 .cs-item {
    grid-column: span 6;
  }
}
@media only screen and (min-width: 64rem) {
  #gallery-1374 .cs-item {
    grid-column: span 4;
  }
  #gallery-1374 .cs-shape:first-of-type {
    left: -21.875rem;
  }
  #gallery-1374 .cs-shape:last-of-type {
    right: -21.875rem;
  }
  #gallery-1374 .cs-title span {
    display: block;
  }
}
@media only screen and (min-width: 100rem) {
  #gallery-1374 .cs-shape:first-of-type {
    left: -31.25rem;
  }
  #gallery-1374 .cs-shape:last-of-type {
    right: -31.25rem;
  }
}

/*# sourceMappingURL=portfolio.css.map */
