---
title: "Snipcart"
description: "Grow your business with the fastest websites in Canada. Get a hand-coded website for just $150/mo made by the best web design service in Toronto."
permalink: "/"
tags: "sitemap"
eleventyNavigation:
    key: "Home"
    order: "100"
---

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

{% endblock %} {% extends 'layouts/base.html' %} {% block body %}

<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1624">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">New Collection</h2>
            <a href="" class="cs-button-solid">View All Collection</a>
        </div>
        <div class="cs-collection-wrapper">
            <div class="cs-item-offer">
                <div class="cs-text-wrapper">
                    <span class="cs-offer-tag">ONLY $20</span>
                    <h3 class="cs-h3">Latest Winter Collection</h3>
                    <span class="cs-item-text">Special seasonal offer of the month</span>
                    <a class="cs-button-solid" href="/">Shop Now</a>
                </div>
                <picture class="cs-background" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/hoodie-models.png" />
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/hoodie-models.png" />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/hoodie-models.png"
                        alt="model"
                        width="365"
                        height="201"
                    />
                </picture>
            </div>

            <ul class="cs-card-group">
                {%- for product in collections.product -%}
                <li class="cs-item">
                    <a href="{{product.data.slug}}" class="cs-link">
                        <div class="cs-image-group">
                            <picture class="cs-picture">
                                <!--Mobile Image-->
                                <source media="(max-width: 600px)" srcset="{{product.data.image}}" />
                                <!--Tablet and above Image-->
                                <source media="(min-width: 601px)" srcset="{{product.data.image}}" />
                                <img loading="lazy" decoding="async" src="{{product.data.image}}" alt="{{product.data.title}}" width="1280" height="568" />
                            </picture>
                        </div>
                        <div class="cs-details">
                            <h3 class="cs-product">{{product.data.title}}</h3>
                            <div class="cs-wrapper">
                                <div class="cs-flex">
                                    <span class="cs-old-price">${{product.data.price}}</span>
                                </div>
                            </div>
                            <button
                                class="snipcart-add-item cs-button-solid"
                                data-item-id="{{product.data.id}}"
                                data-item-price="{{product.data.price}}"
                                data-item-url="/products/{{product.fileSlug}}"
                                data-item-description="{{product.data.description}}"
                                data-item-image="{{product.data.image}}"
                                data-item-name="{{product.data.name}}"
                            >
                                Add to cart
                            </button>
                        </div>
                    </a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</section>

{% endblock %}
